@import "colors";
@import "clock"; // 雖然在根目錄，但也要 import

* { all: unset; font-family: "JetBrainsMono Nerd Font"; }

.bar-main-container {
  background-color: transparent; // 讓底色透明，實現分離膠囊感
}

.logo-pill, .ws-pill, .sys-pill {
  background-color: $bg;
  color: $lavender;
  padding: 4px 12px;
  border-radius: 12px;
  border: 1px solid rgba($lavender, 0.3);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.ws-pill button {
  padding: 0 8px;
  color: $subtext;
  &:hover { color: $lavender; }
}

